<div class="container" *ngIf="shopsVisibility">
  <h2>Магазины</h2>
  <p>Список всех магазинов:</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Название</th>
        <th>Адресс</th>
        <th>Начало работы</th>
        <th>Конец работы</th>
        <th>Товары</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shop of shops; let i = index">
        <td>{{shop.Name}}</td>
        <td>{{shop.Address}}</td>
        <td>{{shop.StartWorkTime}}</td>
        <td>{{shop.EndWorkTime}}</td>
        <td>
          <div class="form-group">
            <div class="col-md-8">
              <button class="btn btn-success" (click)="ShowItems(i)">Товары</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="!shopsVisibility">
  <h2>Товары</h2>
  <p>Товары данного магазина:</p>
  <div class="form-group">
    <div class="col-md-offset-11 col-md-8">
      <button class="btn btn-danger" (click)="ShowShops()">Назад</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td>{{item.Name}}</td>
        <td>{{item.Description}}</td>
      </tr>
    </tbody>
  </table>

</div>